[submodule "hexo-theme-next"]
	path = happychips/themes/hexo-theme-next
	url = https://github.com/kbeckmann/kbeckmann.github.io.git
	branch = hexo-theme-next
[submodule "happychips/source/nfc-antenna-generator"]
	path = happychips/source/nfc-antenna-generator
	url = git@github.com:kbeckmann/nfc-antenna-generator.git
